/* .navbar1{
    color: #fff;
} */
ul{
    margin:0;
    padding:0;
}
.main-banner{    
    background:url('img/pexels-photo-2182862.jpeg');
    color:#fff;
    height:700px;
    /* padding: 200px; */
    /* background-size:cover; */
}
.main-banner img{
    background-size:cover;
    
}
.main-banner h1{
    
    text-transform:uppercase;
    text-align:center;
    /* font-size:60px; */
}
.main-banner h2{
     text-align:center;
     /* color: #000; */
}
.navbar1{
color:#0e1316;
}
.text-center{
    /* padding:200px; */
    /* background-color:lavender; */
    background-size:cover;
    height:350px;
}
.about-us{
    background-color:lavender;
    background:url('img/img32.jpg');
    background-size:cover;
    background-attachment:fixed;
    padding:130px;
    text-align:center;
    font-size:50px;
}
/* .about-us h1:hover
{
    color:#000
} */
.graduated
{
    /* margin: 0; */
    /* padding-left: 0%; */
    width: 100px;
}
.motto
{
    padding: 100px;
}
.but
{
    /* margin: 1%; */

}
.but:hover
{
    background-color: #0d6efd;
    /* outline: #0d6efd; */

}

footer{
    background-color:#000;
    height:60px;
}

footer .about-info{
    float:left;
    padding:10px;
}

footer .footer-sec{
    float:left;
    padding:20px;
}

footer .footer-sec ul li{
    display:inline;
    margin-right:10px;
    list-style-type:none;
}

footer .footer-sec ul li a{
    color:grey;
}

footer .footer-sec ul li a:hover{
    color:#fff;
}

.copyright{
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEVVVVURwN3rAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
    height:40px;
    text-align:center;
}

.copyright p{
    padding-top:10px;
    padding-bottom:00px;
    color:#fff;
}

.owl-dots {
    display:none;
}

.owl-carousel{
    background-color:lavender;
    padding:10px;
}

.owl-carousel item{
    width:100%;
    height:50px;
}